.img {
  height: 500px;
  width: 100%;
  margin: 0px;
}

.carousel-control {
  width: 0%;
}

img {
  width:100%;
  height:600px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
}
