@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

.page-container {
  padding-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
}
form {
  border-radius: 4px;
  border: 1px solid grey;
  padding-bottom: 20px;
  padding-left: 20px; 
}

label {
  padding-right: 10px;
  font-family: 'IM Fell English', serif;
}

input::placeholder {
  color: light-grey;
  font-size: 12px;
}

.form-heading {
  padding-top: 20px;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

.place-order-btn {
  margin-top: 15px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.place-your-order {
  padding-top: 30px;
  font-family: 'IM Fell English', serif;
}
