.meats-container {
  background-color: grey;
}

.card-img-top {
  width: 300px;
  height: 255px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  margin: 50px;
  margin-left: 0px;
  display: inline-block;
}

.card-title {
  font-family: 'IM Fell English', serif;
}

.price-container {
  padding-left: 0px;
}

.fas .fa-shopping-cart {
  padding-left: 20px;
}
