@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

nav {
  height: 30%;
  background-color: #849479;
}

a {
  color: #ffff;
  font-family: "Avenir Next";
}

.logo {
  color: #ffff;
  font-family: 'IM Fell English', serif;
  text-align: center;
  width: 100%;
}

.logo .title {
  font-size: 40px;
}

.logo .subtitle {
  font-size: 20px; 
}
